// MIXINS PARA LAS FUENTES

@mixin oswald($b, $f: 2em) {
	font-family: "Oswald", sans-serif;
	font-weight: $b; //500 | 600
}
@mixin roboto($b, $f: 2em) {
	font-family: "Roboto", sans-serif;
	font-weight: $b; //100 | 500
}
@mixin sora($b: 600, $f: 1.8em) {
	font-family: "Sora", sans-serif;
	font-weight: $b; //600
}

// VARIBLES DE LOS COLORES
$back-dark: #3498db;
$back-dark-alt: #236c9c;

$color-dark: #2c3e50;
$color-dark-alt: #253544;

$color-light: #ecf0f1;
$color-light-alt: #dddddd;
$color-light-alt-1: rgb(185, 185, 185);
$font-color: #3f3f3f;

$face-c: #3b589891;
$linke-c: #0e77a8a6;
$twit-c: #00abee9b;

$face: #3b5998;
$linke: #0e76a8;
$twit: #00acee;
